
.weatherLocationCont {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
    min-width: 430px;
    margin-bottom: 10px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 10px 10px 42px -12px rgba(0,0,0,0.75);
    cursor: pointer;
}

.locationCont {
    /* width: 100%; */
    height: 35px;
    text-align: left;
    color: rgb(136, 136, 136);
    line-height: 35px;
}

.locationCont h1 {
    margin: 0;
}