.weatherDataCont {
    background-color: rgba(177, 207, 201, 0.5);
    height: 100px;
    line-height: 100px;
    border-radius: 5px;
    padding: 10px;
}

.temperature {
    font-size: 35px;
    font-weight: bold;
    padding-left: 20px;
    color: #333;
}

temperaturetype{
    font-weight: bold;
    color: rgb(149, 240, 205);
}


.wicon {
    color: rgb(44, 187, 212);
}

.weatherTemperatureCont {
    width: 60%;
    display: inline-block;
}

.weatherExtraInfoCont {
    width: 40%;
    display: inline-block;
    line-height: 28px;
    text-align: left;
}

.extraInfoText {
    display: block;
    color: rgb(1, 127, 185);
    font-size: 18px;
    font-weight: bold;
}