.locationList{
    max-height: 85vh;
    overflow: auto;
}

@media (max-width: 64em){
    .locationList{
        max-height: 40vh;
        margin-bottom: 20px;
    }
}

.forecast-title{
    color: rgb(136, 136, 136);
    text-align: center;
    padding-top: 15px;
}