.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 50s linear;
  height: 40px;
  margin: 5px;
}

.menuButton {
  margin-left: -12;
  margin-right: 25
}

.titleFlex {
  flex-grow: 1;
}

.App-header {

  height: 150px;
  padding: 5px;
  color: #222;
}

.App-title {
  font-size: 1.8em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.detail {
  background: rgba(225, 230, 228, 0.418);
  height: 85vh;
  width: 95%;
  overflow: auto;
  padding-right: 20px;
  padding-left: 20px;
}

@media (max-width: 64em){
  .detail {
    height: 40vh;
  }
}